$desktopFontSizes: (
  "fs-600": 2.75rem, 
  "fs-500": 1.875rem,
  "fs-400": 1.375rem,
  "fs-300": 1.125rem,
);
$mobileFontSizes: (
  "fs-600": 1.8125rem, 
  "fs-500": 1.375rem,
  "fs-400": 1.1875rem,
  "fs-300": 1rem,
);

$mainText: (
  "body-L": 1.375rem,
  "body-M": 1.125rem,
  "body-S": 1rem,
  "body-XS": 0.875rem,
);

$fw-bold: 900;
$fw-semiBold: 700;
$fw-medium: 400;
$fw-light: 300;